*{
  margin: 0;
  padding: 0;
  list-style: none;
}
body,html{
  height:100% ;
  width: 100%;
}

#play{
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  overflow: hidden;
}
.play-top{
  position: fixed;
  padding: 10px  20px 0;
  z-index: 1;
  width: 100%;
  background: white;
  /*width: 100%;*/
}
.play-top img{
  float: left;
  width: 45px;
  height: 45px;
  margin-right: 10px;
}
.play-top p{
  float: left;
  color: #121212;
  line-height: 45px;
  width: 196px;
}
.play-top span{
  float: left;
  display: block;
  width: 56px;
  height:23px;
  padding: 1px 13px;
  border: 1px solid #b3b3b3;
  line-height: 23px;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  border-radius: 10px;
}
